PROJECT_NAME=WTG_test
NGINX_PORT=80

WWWGROUP=1000
WWWUSER=1000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3307
DB_DATABASE=db
DB_USERNAME=user
DB_PASSWORD=password

REDIS_PASSWORD=kzT9tBUNm4HS52xm9N2F